<!DOCTYPE html>
<html lang="fr"

      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/fragment::head" ></head>
<body>
<div class="sidebar"  th:insert="fragments/fragment::sidebar"></div>
<div class="main-content">
    <main>
        <div class="retour-container">
            <a th:href="@{/students}" class="retour">← Retour</a>
        </div>

        <h2 th:text="${student.id_person == null}?'Ajouter un élève':'Modifier un élève'"></h2>
        <form id="addStudentForm"  th:action="@{/students}" th:object="${student}" method="post">
            <input th:field="*{id_person}" hidden type="text">
            <div class="form-row">
                <input type="text" id="lastName" th:field="*{lastName}" placeholder="Nom" required>
                <input type="text" id="firstname" th:field="*{firstName}" placeholder="Prénom" required>
            </div>
            <div class="form-row">
                <div class="radio-group">
                    <label><input type="radio" name="genre" th:field="*{genre}" value="homme" required> Homme</label>
                    <label><input type="radio" name="genre" th:field="*{genre}" value="femme" required> Femme</label>
                </div>
            </div>
            <div class="form-row">
                <input type="text" id="matricule" th:field="*{matricule}" placeholder="Matricule" required>
                <input type="date" id="dateNaissance" th:field="*{dateDeNaissance}" placeholder="dd/MM/YYYY" required>
            </div>
            <div class="form-row">
                <select th:field="*{classe}" id="classe" required>
                    <option value="">Sélectionner une classe</option>
                    <option value="1ere">1ère</option>
                    <option value="2eme">2ème</option>
                    <option value="3eme">3ème</option>
                    <option value="4eme">4ème</option>
                    <option value="5eme">5ème</option>
                    <option value="6eme">6ème</option>
                </select>
                <input type="text" id="email"  th:field="*{email}" placeholder="Email" required>
            </div>
            <div class="form-row">
                <input type="tel" th:field="*{telephone}" id="telephone" placeholder="Téléphone">
                <input type="text" th:field="*{ville}" id="ville" placeholder="Ville">
            </div>
            <div class="form-row buttons">
                <button type="button" class="btn-cancel">Annuler</button>
                <button type="submit" class="btn-save">Enregistrer</button>
            </div>
        </form>
    </main>
</div>

<th:block th:insert="fragments/fragment::gender"></th:block>
<th:block th:insert="fragments/fragment::modal"></th:block>
</body>
</html>